[2022-09-02 05:09] mattxwang commented on #938
Oh, gotcha - coming back to this now. Hm, what are you envisioning for a configuration option? I'm wary of just adding a path since in these cases, CSS + alt text is usually necessary. Do you think the `_includes` approach doesn't satisfy a need, or that we should document it better? If documentation is the issue, I think I'd improve that over adding a configuration option.

[2022-09-02 05:10] mattxwang commented on #930
No worries, I'll add it to my personal backlog - but there's no guarantees there since I also review most of the PRs, etc.

If anybody is looking to pick this up, please do!

[2022-09-02 05:21] mattxwang commented on #886
Yes, I think that's a great idea! Struggling to get through all of my backlog items on a regular pace, but one item I can add is adding to / modifying the pull request template to make that more clear!

Sure! The current format is autogenerated by GitHub, I'm sure there are improvements that can be made. It does look cleaner!

We should be able to use some sort of grep / find-and-replace functiona

[2022-09-02 05:23] mattxwang commented on #728
Sure, that sounds reasonable to me - it could be as simple as duplicating our template repository and then changing the pinned gem version, right? If that's the case, I could certainly do that.

[2022-09-02 09:23] Teddy-van-Jerry commented on #938
Here is my proposal in `_config.yml`:
[code]
There may be some other expressions for `title_only_logo`. With this option, user can choose how the title logo is displayed.

[2022-09-02 13:32] manuelhenke opened #948 "Documentation Version Selection"
**Is your feature request related to a problem? Please describe.**
The docs can only display the current version. There is no possibility of viewing past documentation. It would be very great to have the possibility to provide versioned documentation like for example bootstrap does.

**Describe the solution you'd like**
I am not quite sure if this feature should be solved inside this theme or when

[2022-09-03 21:39] pdmosses commented on #704
The theme has moved to the just-the-docs organization. The url `https://pmarsceill.github.io/just-the-docs/assets/js/search-data.json` is outdated.

See https://just-the-docs.github.io/just-the-docs/assets/js/search-data.json for the current generated search data, which uses relative urls.

[2022-09-04 18:13] pdmosses commented on #948
See also issue #728.

[2022-09-04 21:23] pdmosses commented on #703
@hansfn in fact this isn't a bug, it's expected behaviour! The word "just" is one of many stop words that `lunr.js` filters out when searching.  For example, if you replace "Just" by "any",  searching for `any` doesn't find it.

BTW, searching for the word "just" on the [theme website](https://just-the-docs.github.io/just-the-docs/) doesn't find its occurrences on the home page – the results are a

[2022-09-05 00:29] manuelhenke commented on #948
Duplicated

[2022-09-05 00:29] #948 closed

[2022-09-05 15:29] pdmosses commented on #732
@munderseth I'm tentatively closing this issue: it relates to v0.3.3, and a [release candidate for v0.4.0](https://github.com/just-the-docs/just-the-docs/blob/main/CHANGELOG.md) is available.

If you discover that the bug persists in `v0.4.0.rc1`, please reopen this issue, then we'll take a closer look.

[2022-09-05 15:29] #732 closed

[2022-09-05 17:12] onuratakan commented on #938
It's good, also i will use for our project.

[2022-09-06 06:55] mattxwang commented on #946
Just to chime in @SamsungGalaxyPlayer  - mermaid is disabled by default (if you consume the theme as a remote theme / gem), precisely for this reason. Are you copying the `_config.yml` from our main repo? Perhaps we can improve our documentation here.

[2022-09-06 16:40] munderseth commented on #732
@pdmosses I have confirmed that the issue has been resolved. Thanks for letting me know.

[2022-09-06 18:41] pdmosses commented on #863
@nathancarter you wrote:

Could you perhaps check whether my current optimization of `nav.html` fixes the build time problem with Jekyll v4.2.2 on your site? That would involve:

In `Gemfile`:

* replace `gem "jekyll", "4.1.0"` by `gem "jekyll"`
* replace `gem "just-the-docs"` by `gem "just-the-docs", "0.4.0.rc1"`

In `_includes`:

* add https://github.com/pdmosses/just-the-docs/blob/fix-nav-perfo

[2022-09-07 03:41] ojflaherty commented on #632
Hi @pdmosses

I think I ended up going back and running `bundle exec just-the-docs rake search:init` locally, then pushing those files to my repository. Seemed to do the trick!

[2022-09-07 06:06] mattxwang commented on #703
@pdmosses great investigation, much appreciated.

Since users are running into this problem - I'm thinking this is a chance to improve our documentation (at the very least, pointing users to the lunr docs for issues they run into). What are your thoughts?

After resolving our next step, we can close this issue.

[2022-09-07 07:27] hansfn commented on #703
Thank you, @pdmosses, for the stop word explanation. I should have realized that since I have been using that myself earlier.

However, that doesn't explain the second problem: That matches are removed when a matching search is extended. Test with "writi" on https://just-the-docs.github.io/just-the-docs/ and then add a "n" so you get "writin" - no matches. ("writing" of course matches again.)

[2022-09-07 11:55] pdmosses commented on #703
@hansfn I think Lunr applies stemming to the query word as well as the document contents. I'm not familiar with the details of the Porter stemmer used by Lunr, but perhaps it produces different stems from "writi" and "writin":

Assuming that our theme always shows all the search results produced by Lunr, the sudden unexpected disappearance of some matches looks more like an issue with Lunr than a

[2022-09-07 12:06] pdmosses commented on #703
@mattxwang re:

The first line of our [Search docs](https://just-the-docs.github.io/just-the-docs/docs/search/) already contains a link to the Lunr docs. We might add a callout with a warning that stop words are ignored, and that the stemming is algorithmic (hence imperfect).

But I think we should defer all but the most urgent improvements to our docs until after the release of `v0.4.0`.

[2022-09-07 17:16] pdmosses commented on #728
@mattxwang I'm not sure what you mean by "changing the pinned gem version". Presumably https://github.com/just-the-docs/just-the-docs/blob/v0.3.3/just-the-docs.gemspec is _defining_ a gem, rather than referring to one (I don't understand why it has `spec.version = "0.3.2"`).

Moreover, https://github.com/just-the-docs/just-the-docs/blob/v0.3.3/_config.yml doesn't specify a `theme` or `remote_theme

[2022-09-07 17:27] pdmosses commented on #632
@ojflaherty thanks for confirming!

@richlewis14 @mluerig if you still have the reported issue when using release `v0.4.0.rc1` (see #925), could you post a link to your repository so we can investigate further?

[2022-09-08 06:11] hansfn commented on #703
Yes, you are correct. Closing the issue is fine by me. It's documented by our discussion ;-)

[2022-09-08 06:36] #703 closed

[2022-09-10 14:31] nathancarter commented on #863
Yes!  Excellent work!  The render phase of the build is 29 seconds, for an overall build time of 32.  Thanks so much for keeping on top of this!

[2022-09-10 15:57] pdmosses commented on #863
@nathancarter that's great news! Many thanks for testing the improved `nav.html` on your site. A local build time of about 30 seconds is the kind of improvement I was hoping for.

I'll now submit a PR to replace the current `nav.html` with the new one. I hope it will be reviewed in time to be included in the next (pre-)release of the theme .

Your site should be useful to us for testing further op

[2022-09-12 03:31] #863 closed

[2022-09-12 03:51] mattxwang commented on #863
Hey all - just cut a new prerelease (`v0.4.0.rc2`). Give it a spin and let me know if it works properly on prod!

Going to look to publish a general release ASAP - I imagine then, we'll get much more traction (since it'll work for people by default).

[2022-09-12 14:14] pdmosses commented on #704
If this is an issue also with release `v0.4.0.rc2`, please reopen.

[2022-09-12 14:14] #704 closed

[2022-09-12 14:49] pdmosses commented on #946
When a site enables mermaid, the code gets loaded when _any_ page on the site is visited. But it could be that mermaid is actually needed only on some infrequently visited page(s), so its loading is mostly useless.

However, I think it would be possible to add a site configuration option (say `mermaid.page: true`) to load the code _only_ on pages that request it (e.g., by setting `mermaid: true`).

[2022-09-12 15:44] pdmosses commented on #654
With lexicographic sorting to titles, you'd presumably get:

* chapter 1
* chapter 10
* chapter 11
* chapter 2

But of course that isn't what you want either…

A work-around that should be less cumbersome than adding `nav_order` would be to put all the chapters in a _collection_, using their numbers as titles.

Without adding any `nav_order` fields, the navigation panel would then look like this (

[2022-09-12 16:14] pdmosses commented on #527
Closing this issue, as it is essentially a duplicate of #219.

[2022-09-12 16:14] #527 closed

[2022-09-12 16:22] pdmosses commented on #527
Just to clarify:

Adding support for multi-level navigation is a high priority, but the proposals in #192 and #462 need further discussion (as well as updating for compatibility with the forthcoming v0.4.0 release).

[2022-09-12 16:38] pdmosses commented on #524
@rbong Now that PRs automatically have Netlify previews, it should be easier to discuss potential solutions for this issue. Moreover, the recent pre-releases of Just the Docs (see #958) have incorporated many outstanding PRs, which has made the codebase more stable.

If you'd like to submit a PR to fix this issue, it would be best to do it in the next week or two, so that there's time to review it

[2022-09-12 16:57] pdmosses commented on #396
@henryiii if you'd like to submit a PR to fix this issue, it'd be good to do it this week or next, so that it can be reviewed before the forthcoming release of v0.4.0.

[2022-09-12 17:38] pdmosses commented on #216
@benjsmi https://github.com/github/gitignore/blob/main/Jekyll.gitignore was updated in December 2021 to add `vendor/`. That surely increases the likelihood of new theme users having `vendor/` in their `.gitignore` files.

However, the [Just the Docs Tests site  `.gitignore`](https://github.com/just-the-docs/just-the-docs-tests/blob/main/.gitignore) includes `vendor`, and search works as expected (

[2022-09-12 20:26] pdmosses commented on #728
@mattxwang perhaps we should wait with setting up a v0.3.3 docs site until there's a need for it: we don't really want to encourage users to stay pinned to that old version unless they run into a real problem with updating to v0.4.0...

[2022-09-12 21:23] mattxwang commented on #728
Sure! I don't have a particularly strong opinion here. We can revisit if someone opens an issue / adds a note on it.

Separately, I still do want to support the overall feature ask here - it does require quite a bit of thinking though!

[2022-09-13 07:29] pdmosses commented on #938
@Teddy-van-Jerry thanks for your proposal for the feature to show both a logo and the title text.

To avoid breaking existing sites when adding a new feature, we generally use `true` as the value for making the feature active: the 'falsy' values `nil` and `false` should give the default behaviour of not activating the feature.

So for this feature, I'd suggest a setting such as `logo_with_title: t

[2022-09-13 08:19] Teddy-van-Jerry commented on #938
@pdmosses Thank you for your nice guidance! I will try to implement this feature recently with a PR.

[2022-09-13 22:12] kevinlin1 opened #959 "Minimal page layout configurations"
**Is your feature request related to a problem? Please describe.**
Not all JTD webpages need side and/or top navigation. For example:

- some pages such as event announcements or other pages that are directly linked from off-site might not require navigation to the rest of the site
- the website designer may prefer a single column presentation where navigation between pages is done primarily using

[2022-09-14 23:52] #396 closed

[2022-09-14 23:59] mattxwang commented on #959
Thanks for the very detailed write-up @kevinlin1! I agree that the use-case is definitely valid, and I appreciate you enumerating several different reasons why this may be helpful.

I do have an alternate suggestion: instead of adding configuration options to disable the top / side navigation elements, what about:

- a new layout `minimal` which contains the `<head>`, `<script>` tags, and maybe th

[2022-09-15 00:14] mattxwang commented on #234
Looking to centralize the conversation on this in this issue if possible!

Basically - if (any) PR is updated or opened that:

- supports defaults based off of `prefers-color-scheme`
- **and**, has some sort of user-defined toggle that overrides `prefers-color-scheme`
- **and**, documents how developers can use this feature / what the defaults are
  - things to consider (but not necessary):

[2022-09-15 00:17] mattxwang commented on #632
Going to close this now due to inactivity - feel free to re-open!

[2022-09-15 00:17] #632 closed

[2022-09-15 00:19] mattxwang commented on #800
Believe this was resolved by https://github.com/just-the-docs/just-the-docs/pull/950!

[2022-09-15 00:19] #800 closed

[2022-09-15 08:03] pdmosses opened #961 "Support customization of the heading of the automatic list of child pages"
**Is your feature request related to a problem? Please describe.**
The default layout uses "Table of Contents" as the heading of the list of child pages. Websites in other languages need to change it, which requires copying the default layout and editing it.

**Describe the solution you'd like**
The "Table of Contents" element is currently `<h2 class="text-delta">Table of contents</h2>`. I'd like

[2022-09-15 18:22] pdmosses opened #963 "Fix HTML validation issues"
**Describe the bug**
The W3C HTML checker reports three warnings and one error on pages of the theme docs

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://validator.w3.org/nu/?doc=https%3A%2F%2Fjust-the-docs.github.io%2Fjust-the-docs%2F'
2. Click on '.Check'
3. Scroll down
4. See the three warnings and the error

**Expected behavior**
No warnings or errors

**Screenshots**

<im

[2022-09-15 18:44] mattxwang commented on #963
This seems trivial enough, I'll do it in a moment. Thanks for flagging!

[2022-09-15 19:07] mattxwang commented on #961
Seems reasonable to me. My take (in general) is that I prefer adding `_includes` over configuration options since I find that they're more maintainable and cause less config bloat, so I'm for the include. I'll let anybody else chime in before we mark this issue ready to implement!

Are we alright with pushing this until after v0.4.0?

[2022-09-15 19:24] #963 closed

[2022-09-15 22:33] kevinlin1 commented on #959
Thanks for the replies. I also like @JPrevost's idea about modularized layout components: I could see there being page-scope front matter variables for disabling the:

- side navigation bar
- top navigation/search bar
- breadcrumbs
- footer

We currently have site-scoped variables for the `site.footer_content` and `site.search_enabled`, but I think they're different enough from the proposal that w

[2022-09-15 22:55] mattxwang commented on #959
Thanks for chiming in @JPrevost and @kevinlin1! Just to make sure I'm understanding:

- @JPrevost you're asking for most of the contents of `_layouts/default.html` to be broken up into includable components
- @kevinlin1 then, you're asking to disable the inclusion of these components with a frontmatter flag

I think this is certainly doable! If either of you are up to submitting a PR, feel free -

[2022-09-16 10:11] pdmosses commented on #961
Some users may have copied `_layouts/default.html` from v0.3.3 (or a PR branch) merely to change the "Table of contents" text. If we don't include this customisation feature in v0.4.0, those users will need to copy and edit the new version of that layout If they want to start using v0.4.0 – and then remember to delete their copy if we release a v0.4.1 that allows them to customise the text by addi

[2022-09-16 10:52] pdmosses commented on #961
Me too. Files in specific languages have inherent advantages over text strings in YAML. Moreover, referring users to a `*_custom` file in the theme repo is easier than documenting the default text on the theme docs web pages.

However, the proliferation of `*_custom` files is making the `_includes` directory already look quite messy, with more on the way. There are also some custom files in the `c

[2022-09-16 14:40] pdmosses commented on #886
@mattxwang [GFM's shortcut reference links](https://github.github.com/gfm/#shortcut-reference-link) can be used to mark up clickable links to PRs and authors concisely. They display the same in pages formatted with Just the Docs on GH Pages and when browsing the source files on the GH repo.

For example, compare this [formatted page](https://just-the-docs.github.io/just-the-docs-tests/tests/releas

[2022-09-16 15:57] pdmosses commented on #234
Instead of a normal toggle button, GitHub repo pages have a drop-down menu button in the upper-right corner, including a link to a Settings page. To switch between light, dark, and auto, we need to open https://github.com/settings/appearance. That page also allows setting any of their color schemes for light and dark use (with a very cool visualisation of their appearance).

But if we expect that

[2022-09-16 18:14] pdmosses commented on #234
@henryiii If you could resolve the current conflicts in PR #560, we'd be able to check whether any FOUCs appear when using Firefox to browse the Netlify preview.

@mattxwang The Netlify preview of PR #858 appears to work well, without any FOUCs on Firefox (and without introducing a hidden dependence on a script hack, which I'd prefer to avoid).

I think it would be helpful if @simonebortolin could

[2022-09-16 18:32] #681 closed

[2022-09-16 18:43] mattxwang commented on #756
Now that people have started to use our template (https://github.com/just-the-docs/just-the-docs-template), going to close this issue. Thanks for motivating it!

[2022-09-16 18:43] #756 closed

[2022-09-16 20:01] kevinlin1 commented on #959
I wonder if it might also be helpful to provide a workflow to allow website designers to define pre-configured layouts. For example, it might be annoying to have to always write:

[code]

When it could instead be defined with a custom layout that could also make it easier for the website designer to change the appearance of all the pages with that layout.

[code]

I'm hopeful that this can be done

[2022-09-16 20:09] mattxwang commented on #961
Ah gotcha. In that case happy to prioritize this, I think it should be pretty trivial - just adding the `_include` plus some documentation. If you have the time to implement it, happy to review a PR - if not, I can add it to my backlog!

[2022-09-16 20:19] mattxwang commented on #702
Hey! Just circling back to this now as I triage more of the issues.

Definitely agree that having some `baseurl` support would be nice here; however, it's not as simple as prepending `{{site.baseurl}}`, since aux links are often used for external links (and prepending `site.baseurl` would not make sense).

What interface would work well for you? I have a couple of mental ideas, though some of them

[2022-09-18 05:05] liuyang12 commented on #198
Awesome solution and test by @pdmosses! Following this, I managed to resolve the LaTeX support issue with Just-The-Docs and added [KaTeX and MathJaX](https://www.intmath.com/cg5/katex-mathjax-comparison.php) as global option for rendering LaTeX commands. Just three simple steps:
1. In `_config.yml`, change `compress_html: blanklines: false` from `false` to `true`.
2. Add LaTeX rendering option in

[2022-09-18 11:25] pdmosses commented on #198
@liuyang12 I'm glad that you found this old issue, and that  https://pdmosses.github.io/test-nav/ was still helpful!

You may have also seen my answer in discussion #432. Unfortunately, it had an outdated link to my old `just-the-docs-tests` project, which has been renamed to [`just-the-docs-tests-old`](https://github.com/pdmosses/just-the-docs-tests-old); I've now updated the link.

I'm currently

[2022-09-18 13:47] simonebortolin commented on #234
In reply of @pdmosses at #966

if I understand correctly, you want JtD to have 3 possibilities:
- fixed (light or dark) I imagine set to the `colour_scheme` flag (`light` or `dark`) of `_config.yml`
- auto, also I imagine set to the `colour_scheme` flag (`auto`) of _config.yml
- manual (light, dark, auto) with web storage/cookie, the latter done with a dropdown/popup menu/dedicated page in the sty

[2022-09-18 19:24] pdmosses commented on #930
@bentookey-yotta Thanks for submitting this proposal for an enhancement, and for giving a motivating example.

Currently, the theme displays the page title in the nav bar, breadcrumbs, auto-TOCs, and lists of search results; the browser may also display it in lists of pages, and it gets inserted in page meta-data by the Jekyll SEO Tag. Moreover, a page often starts with the page title as an `h1`-l

[2022-09-19 00:32] devinnasar opened #968 "Index pages for Categories?"
Hello,

I'm interested in leveraging the tagging capabilities of collections in Jekyll, and have followed the instructions to add my collections to my site, however what I'd like to do is be able to have the collection headers themselves lead to index pages that summarize each collection type. Is there a way to implement this now or is this something that would require a JTD feature? I tried askin

[2022-09-19 06:17] mattxwang commented on #968
Hey @devinnasar, are you able to:

- create the index page yourself, ex `category.html`
- have elements in the collection [use that index page as a parent](https://just-the-docs.github.io/just-the-docs/docs/navigation-structure/#pages-with-children)

I think this is the typical out-of-the-box "index page" support for collections. It's possible though that we don't support your use-case out-of-the-

[2022-09-19 08:11] aescpslo opened #969 "Navbar External Links not showing in local theme"
**Describe the bug**
The navbar doesn't show external links when using `nav_external_links` for local JTD gem / theme.

**To Reproduce**
Steps to reproduce the behavior:
1. Add the code from the Docs to the `config.yml` file.
2. Set config file with `theme: "just-the-docs"`
3. Build using `bundle exec jekyll serve`
4. No link in sidebar.
5. Set config file with `remote_theme: just-the-docs/just-th

[2022-09-20 15:03] #961 closed

[2022-09-20 17:51] #636 closed

[2022-09-20 19:47] pdmosses opened #973 "The HTML of the theme docs is uncompressed"
**Describe the bug**
The HTML of the theme docs should be compressed, but it isn't.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://just-the-docs.github.io/just-the-docs/'
2. Browse the page source.
3. See that it isn't compressed.

**Expected behavior**
The HTML used to be compressed.

**Screenshots**
<img width="1222" alt="image" src="https://user-images.githubusercontent.co

[2022-09-20 21:29] pdmosses commented on #973
Removing `"vendor"` from the array of excluded directories restores compression to the theme docs in a local build.

BTW, I first tried adding `include: ["_layouts/vendor"]` to exempt `compress.html` from exclusion, but that didn't help.

[2022-09-21 12:00] pdmosses commented on #973
Looking at @manuelhenke's failed workflow, the error at https://github.com/manuelhenke/nuxt-envalid/actions/runs/2934265767/jobs/4684762681#step:5:14 is:

![image](https://user-images.githubusercontent.com/18308236/191497500-859b67aa-8d31-4380-a1ad-6dd73da54aaf.png)

Presumably our theme docs don't have such a file…

Should we simply remove `vendor` from the `exclude` (and leave it to users to exc

[2022-09-21 12:01] melat0nin commented on #795
A related issue: is it possible to index YAML frontmatter for lunr.js? Because of complicated layouts and the use of Netlify CMS, I store a lot of page content in the frontmatter. I'd love for this to be indexed.

[2022-09-21 12:45] pdmosses commented on #795
The Liquid code that constructs the search index is at [/assets/js/zzzz-search-data.json](https://github.com/just-the-docs/just-the-docs/blob/main/assets/js/zzzz-search-data.json). It refers to specific items of front matter, such as `page.title` and `page.content` (where `page` is a variable ranging over all built HTML pages).

It should be possible to extend the code to construct lunr.js index e

[2022-09-21 14:08] melat0nin commented on #795
I actually managed this soon after I posted my comment -- it was fairly straightforward to add yaml values to `page_content`, and it works great :)

[2022-09-21 14:31] pdmosses commented on #973
Ah, the commented-out code at https://github.com/jekyll/jekyll/blob/master/lib/site_template/_config.yml#L45 apparently documents exactly what is excluded by default:

[code]

See also https://github.com/jekyll/jekyll/issues/5359#issuecomment-277411845.

I'll submit a PR, showing what I think our `_config.yml` should exclude.

[2022-09-21 16:28] ragazzojp opened #976 "SEO and languages different than en_US"
I don't want to overlap with the i18n discussion (#59). Let's assume the documentation is written in one language only. This should be configurable to replace `en_US` in the SEO tag and other places.

[code]

So far I wasn't able to modify it.

[2022-09-22 06:43] mattxwang commented on #976
Thanks for submitting an issue @ragazzojp.

Looking at the default layout:

https://github.com/just-the-docs/just-the-docs/blob/f0d6bef5d2d357a8e26789156d4d474f33024ae1/_layouts/default.html#L7

You should already be able to configure this with `site.lang`. Does this not work for you?

[2022-09-22 06:47] mattxwang commented on #959
Oh - just realizing I never responded in-thread. I think Kevin's on vacation, but his proposed suggestion is definitely doable. I think it's a quick addition to the two bullet points I threaded above.

Will see if I have time to implement this over the weekend, but help is also appreciated. Let's make this the last thing I ship in v0.4.0; this'll also go into a migration guide I'll write (there is

[2022-09-22 08:04] pdmosses commented on #959
I'll try to add my thoughts on this over (your) night.

I'd like to finish adding regression tests before v0.4.0. I'll aim to do that by Monday (26 Sep).

For users who stay with the `default` layout, please emphasise that they will _not_ need to add any new front matter at all!

BTW, in the [regression tests](https://just-the-docs.github.io/just-the-docs-tests/) I'm using both [front matter defau

[2022-09-22 08:46] ragazzojp commented on #976
I haven't spotted the possibility to configure the language in Just The Docs documentation this way. Adding `lang` to `_config.yml` works.

It should be documented.

[2022-09-22 09:34] pdmosses commented on #976
@ragazzojp I didn't know about the `lang` tag either. Apparently it's a standard Jekyll feature, but I didn't find its use documented anywhere…

BTW, [Jekyll SEO Tag](https://github.com/jekyll/jekyll-seo-tag/blob/master/docs/usage.md) gives `locale: language_TERRITORY` priority over `lang`.

[2022-09-22 09:48] pdmosses commented on #702
I don't think either of those needs to break existing sites: a custom include could use `site.aux_links` if defined; a toggle would be off by default.

An include seems to be significantly more versatile than a toggle. Presumably it would be an `ol` in html. In principle we can also use Markdown in includes, but it may be simpler to stick to html.

[2022-09-22 14:18] SamsungGalaxyPlayer commented on #946
@pdmosses Yes, I believe so. An exception to this could be if mermaid was needed on the "home" page, but that's unavoidable.

[2022-09-22 18:29] mattxwang commented on #976
Okay, let's retool this issue then - we can do a better job of documenting internationalization features. Let's:

- add a subheading to configuration called "internationalization"
- add a short sentence about `lang` and `html`
- add a short sentence about Jekyll SEO Tag
- include an example

Down the line, once we get around to #59, we can make this a fully-fleshed page (instead of a heading under

[2022-09-22 22:30] pdmosses commented on #959
I've created a small docs site, in an attempt to clarify my own thoughts on this issue:

https://pdmosses.github.io/modular-layouts/

I need to add more explanation, and make it closer to the current default layout – although there's a tension between that latter goal and keeping it as simple as possible…

Anyway, I need to focus on regression tests for the forthcoming release the next few days, s

[2022-09-23 15:49] japborst opened #982 "Overriding variables breaks syntax highlighting"
**Describe the bug**
When overriding variables, as described [here](https://just-the-docs.github.io/just-the-docs/docs/customization/), it breaks other styles such as syntax highlighting.

**To Reproduce**
Steps to reproduce the behavior:
1. Create `_sass/color_schemes/foo.scss`
2. Set a variable, e.g. `$nav-width: 400px;`
3. Set `color_scheme: foo` in `_config.yaml`

**Expected behavior**
- ✅  Na

[2022-09-23 16:10] pdmosses commented on #982
@japborst Thanks for reporting this issue, and for suggesting a workaround.

Some additional information would be helpful:

- the version of just-the docs you're using
- a screenshot showing the broken syntax highlighting.

If possible, post also a link to a public repo which exhibits the issue.

[2022-09-23 19:21] JPrevost commented on #959
I like that example @pdmosses

From what I can tell, it would allow people to completely change the core layout (i.e. add a new grid) but include all the sub modules wherever they want so they are effectively only maintaining a custom layout and not all the logic and markup from each module. This would cleanly support my use case. Thanks for sharing your example!

@mattxwang if you end up not havi

[2022-09-24 02:34] mattxwang commented on #946
Okay, coming back to this now - I think I'm missing some context. @SamsungGalaxyPlayer, it sounds like for the site you're benchmarking against, you're *not* using mermaid, but you've copied over the config provided in this repo (opposed to creating your own) and/or forked the repo itself. Is that correct? Or, are you benchmarking our docs site itself?

In general, I don't think it is a good idea

[2022-09-24 07:21] japborst commented on #982
Thanks for the quick response @pdmosses.

Here's a repo that replicates the issue => https://github.com/japborst/just-the-docs-variable-issue

I'm using `remote_theme: just-the-docs/just-the-docs`, which would be 0.3.3?

**Without a custom color scheme**
<img width="773" alt="image" src="https://user-images.githubusercontent.com/1426824/192085510-bf48db96-eeba-4cea-aa43-aed47a4d0579.png">

**With

[2022-09-24 12:55] pdmosses commented on #982
When you don't specify a version, the `jekyll-remote-theme` plugin gives you whatever is currently at the HEAD ref of the default branch of the theme repo (`main`)!  That includes the changes from all the merged PRs listed in [`CHANGELOG.md`](https://just-the-docs.github.io/just-the-docs/CHANGELOG/). The theme website is also built from `main`.

To pin your site to version 0.3.3, you can use `remo

[2022-09-24 13:02] pdmosses commented on #982
The reported bug is clear. The need for discussion (indicated by the current label) concerns only the following:

[2022-09-24 14:43] japborst commented on #982
Thanks @pdmosses, for looking into this so quickly.

Confirmed that adding this to `foo.scss` indeed fixes the issue.

[code]

If you think about it, it's indeed pretty funky that setting a new color scheme doesn't change the scheme, but extends it. Making this regular behaviour would make sense (but would need to update the docs to reflect that 😉).

[2022-09-25 16:16] zkvvoob commented on #59
Hello all.

I had to scratch my head a bit today in order to figure out how make the nav menus change based on the selected language (using the above-mentioned Multiple Languages Plugin). If you're interested, I've outlined my path and the solution I came to in [this discussion](https://github.com/just-the-docs/just-the-docs/discussions/983).

[2022-09-26 18:57] #973 closed

[2022-09-27 10:14] bentookey-yotta commented on #930
@pdmosses Thank you for looking into this and explaining your solution so carefully. The solution is valid but unfortunately I can't use it, as `page.title` is automatically added as a `h1` heading on every page in our project. I originally thought this was done by just-the-docs but now I can see it's us! Therefore, I shall try to work around it. Thanks for your help!

[2022-09-27 10:14] #930 closed

[2022-09-28 10:30] ragazzojp commented on #982
I confirm this bug independently, on 0.4.0rc2. If I define my own custom scheme with just `$link-color: $green-200;` I lose python syntax highlighting in code blocks.

Maybe it's not a true bug, but documentation should be amended to tell users what to `@import`. On the contrary, how it is possible to tune/redefine the dark theme or any other theme, it not importing them explicitly?

[2022-09-28 11:13] pdmosses commented on #982
@japborst @ragazzojp @mattxwang In fact it's quite easy for the theme to give the v0.3.3 behaviour by default (by simply importing the `light` color scheme just before the import of the scheme specified by `color_scheme`). To avoid breaking highlighting in existing sites, I'll submit a PR for that, for inclusion in v0.4.0.

Indeed. So I'll include such a docs update in the same PR, illustrating ho

[2022-09-28 13:17] selwynpolit opened #987 "github actions fails to recognize just-the-docs theme"
**Describe the bug**
github fails to compile when using just-the-docs/just-the-docs theme

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://github.com/selwynpolit/d9book/blob/gh-pages/_config.yml'
2. Set theme to `theme: just-the-docs/just-the-docs`
3. Submit to gh-pages branch and click on actions to watch the build, after it fails, click into the details and 'X build'
4. See e

[2022-09-28 13:24] selwynpolit commented on #987
Argh.  I shoulda put
remote_theme: just-the-docs/just-the-docs
instead of `theme:`

[2022-09-28 13:24] #987 closed

[2022-09-28 18:05] japborst commented on #982
Didn't mention before, as it's already addressed in another issue, but this indeed only fixes it for the light theme.

Importing dark works, but we ideally extend both to support switching themes.

This means, for now, I'll stick with my original workaround.

[2022-09-28 21:37] pdmosses commented on #982
In case my use of the word "extends" has caused some confusion:  importing `dark` into `foo` creates a new scheme based on `dark`, but it does _not_ change `dark`.

So you can define both `foo-light` and `foo-dark` in `_sass/color_schemes`, for use in switching between light and dark preferences. They will be independent schemes, and they won't interfere with each other.

Anyway, I hope the propos

[2022-09-29 05:22] mattxwang commented on #959
Thanks for offering @JPrevost - now that it is close to late next week, realizing that I don't have too much time. Since it's Sep 28, I doubt that I'll bundle this into v0.4.0; instead, perhaps releasing what we have now (+/- a few last-minute bugfixes) and then looking to release a rapid v0.5.0 with this change soon (since it could be breaking). If you want to pick it up now, I think it's in a st

[2022-09-29 20:35] #982 closed

[2022-09-30 13:16] henryiii commented on #234
My favorite UI implementation of a three-way switch is at https://peps.python.org. It's got a three-way icon; one for auto, one for dark, and one for light. It's simple, clear, and unobtrusive.

[2022-10-01 18:33] mikeavena opened #993 "Callouts are not rendered on page"
**Describe the bug**
Callouts are not rendered on the page, despite being configured in _config.yml and called in Markdown pages.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure callouts in _config.yml, including `note`.
2. Include {: .note } in Markdown page.
3. Build using GitLab runner, Jekyll, and Just The Docs 0.4.0-rc2.
4. Navigate to page in web browser.
5. Element is wrappe

[2022-10-06 01:24] mattxwang commented on #969
Hi @aescpslo, apologies for the delay. Thanks for linking your repo and filling out the template - that makes helping you easier!

Looking [at your `Gemfile.lock`](https://github.com/aescpslo/aescpslo.github.io/blob/main/Gemfile.lock#L200):

[code]

https://github.com/aescpslo/aescpslo.github.io/blob/88e0d27bdc54b26ec4fd5ae6be93443241fc244b/Gemfile.lock#L200

We only released this feature in `v0.4

[2022-10-06 07:14] pdmosses commented on #993
@mikeavena You appear to have blank lines between `{: .note }` and the paragraph/blockquote. They shouldn't be there: a block IAL always comes _directly_ before or after the block it applies to.

The [examples in the docs](https://just-the-docs.github.io/just-the-docs/docs/ui-components/callouts/) look as if they have blank line, but they don't! Try selecting the text in the browser to check that.

[2022-10-06 13:25] mikeavena commented on #993
@mattxwang I unfortunately can't share the entire repo and runner, but my `.gitlab-ci.yml` is below. Granted, I have not attempted to use the real GitLab runner for this yet. I'm using `gitlab-runner exec shell pages-dev` in Ubuntu on WSL, so that I can test the output before committing and deploying.

[code]

@pdmosses I have tried without the blank line as well, but I get the same result. The HT

[2022-10-06 18:28] mattxwang commented on #993
@mikeavena on `pages`, you're not installing version 0.4.0.rc2 of just-the-docs - just the stable release (which is v0.3.3). Callouts were only introduced in 0.4.0.rc1, so you'll need to explicitly opt-in. I suspect that's why the CSS is not being generated - could you confirm?

[2022-10-06 19:06] mikeavena commented on #993
@mattxwang I have not run the `pages` pipeline yet, only `pages-dev`, which specified version 0.4.0.rc2. My command and output and below.

`$ sudo gitlab-runner exec shell pages-dev`

[code]

[2022-10-06 23:12] pdmosses commented on #993
@mikeavena I think Jekyll recommends using Bundler and a Gemfile, to avoid version issues. But I don't know whether that might make any difference to your builds.

[2022-10-08 22:58] mattxwang commented on #946
Going to close this for now. Feel free to re-open if you have additional comments!

[2022-10-08 22:58] #946 closed

[2022-10-10 01:20] mattxwang commented on #993
Hm, it does look like rc2 is being built properly based off of @mikeavena's log. I'm not entirely sure how to help troubleshoot more; @mikeavena, are you available to create a minimal reproducible example on a public GitLab repo?

[2022-10-15 10:01] pdmosses opened #1003 "Inconsistent alignment of custom headers"
**Describe the bug**
v0.3.3, v0.4.0.rc3: The content of a custom header file is not consistently aligned in the header.

**To Reproduce**

1. Update `_config.yml`:
[code]

2. Remove any `_includes/header_custom.html` file.

2. Run `bundle exec jekyll serve`.

3. Open any page in a browser. Observe that the header space above the main content of the page is blank.

4. Update `_includes/header_custo

[2022-10-16 15:33] strand1 commented on #993
I encountered this same problem. Make sure to specify the pre-release version in your gemfile:
`gem "just-the-docs", "0.4.0.rc3"`

[2022-10-20 16:34] #993 closed

[2022-10-21 11:52] Tom-Brouwer opened #1008 "Double `<title>` element if `jekyll-seo-tag` is not registered as a plugin in`_config.yml`"
**Describe the bug**
I was using the 'Bing Webmaster' tools to index my website, and got the error 'More than one title tag - 2 instances found'

**To Reproduce**
1. Create a new Jekyll website using the theme 'just-the-docs' 0.4.0rc3 (Ruby 2.7, Jekyll 4.2.2), and without 'jekyll-seo-tag' listed under 'plugins' in the _config.yml
2. Create a page, and open it in the browser
3. The source of the pa

[2022-10-22 09:27] clarisma opened #1009 "`custom.sass` should always be included last"
In `_includes/css/just-the-docs.scss.liquid`, please ensure that the include directive for custom styles is always the last item -- any styles that are imported after `custom.sass` cannot be overridden.

[2022-10-22 11:33] pdmosses commented on #1009
@clarisma Thanks for reporting this issue. Currently (v0.4.0.rc3) `_includes/css/just-the-docs.scss.liquid` finishes with:

[code]

Simply reversing the order of those two lines should fix the issue, it seems. Would you like to submit a pull request?

[2022-10-22 12:14] clarisma commented on #1009
Yes, reversing these lines fixed it for me.
I have a lot of unrelated changes, so could you make this change directly? Thanks!

[2022-10-22 12:18] clarisma commented on #1009
Yes, reversing these lines fixed it.
I have some unrelated changes, so could you make the fix directly?
(It looks like I cannot fork a repo more than once)
Thanks!

[2022-10-22 14:09] pdmosses commented on #1009
Thanks for confirming!

I think you're right about not being able to fork a repo more than once. But to support multiple unrelated changes, you can create new branches of your fork, and submit a PR from each of them independently.

Personally, I like to use GitHub Desktop, rather than trying to remember Git commands and their options. When I use Desktop to create a new branch from my fork, it sugg

[2022-10-22 16:05] deseo commented on #1009
I just made a clean fork on my personal account and submitted the PR.
I think the PR will auto-close this issue once approved (I've referenced the issue in the commit header).
Thanks for your help!

[2022-10-22 18:04] pdmosses commented on #1009
That was indeed a simple way of doing it. You could also add @clarisma as a co-author if you'd prefer that account to be credited for the PR in the CHANGELOG.

Putting it the commit header hadn't worked, it seems. I've moved it to the first line of the PR description.

Good that you found this bug before the forthcoming release of v0.4.0.

[2022-10-24 03:35] #1009 closed

[2022-10-24 03:44] mattxwang commented on #1008
Hey @Tom-Brouwer, thanks for submitting this issue!

Hm, this is curious indeed. Thanks for your writeup! I think I'll need to do a bit of investigating, but in the meantime, feel free to submit a PR - that would be really helpful!

(I'm leaning towards Option 2, and then publishing a note in our release. open to other comments as well!)

[2022-10-24 22:15] Ethan0429 opened #1011 "53edd7868d1520774c1b5d9c1c0b36cd08eb5281"
**Describe the bug**
This commit 53edd7868d1520774c1b5d9c1c0b36cd08eb5281 seems to have broken the ability to customize callout colors using custom defined colors from `_sass/custom/custom.scss`, as the build process fails (using Github Actions) with the following error:
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Create `_sass/custom/custom.scss` file
2. Add custom 000/300 color e

[2022-10-24 22:18] mattxwang commented on #1011
Agh! At first glance, I think you're correct @Ethan0429. I didn't do a great job reviewing #1010 and clearly this is a consequence.

Let me do a bit of work when I'm more free to figure out a good solution to both this problem and the one that #1010 resolves. In the meantime, you should be able to pin the remote theme to a previous commit and/or a previous release. Sorry for the confusion!

cc: @p

[2022-10-24 22:21] Ethan0429 commented on #1011
Awesome! It's not problem at all. Thank you for the quick reply!

[2022-10-25 07:15] pdmosses commented on #1011
@mattxwang I also reviewed this, and I should have checked that (1) we have a regression test for adding custom colors, and (2) the regression test site still builds. Mea culpa 🙄

In fact (1) is okay: the current callout tests define a pink callout, and the pink color shades are defined in `custom.scss`. But I neglected to check (2). And when I stopped and restarted my local build of `just-the-doc

[2022-10-25 12:25] pdmosses commented on #1011
More precisely: To allow configuration of callouts with custom colors, the implementation imported `_sass/custom/custom.scss` (via `_includes/css/custom.scss.liquid`) _before_ `_includes/css/callouts.scss.liquid`. That was inconsistent with being able to override all CSS using `custom.scss`.

A solution might be to define custom callout colors in color schemes, which do get imported before `_inclu

[2022-10-26 14:43] pdmosses commented on #1011
@mattxwang I wrote:

The theme defines classes for [button colors](https://just-the-docs.github.io/just-the-docs/docs/ui-components/buttons/#basic-button-styles). Perhaps it should also define corresponding classes for callouts? Unfortunately, I have no expertise at all in SCSS, nor in color design Writing code like that in `_sass/support/mixins/_buttons.scss` is completely beyond me…

[2022-10-27 08:39] jneijt opened #1014 "Navigation subtree of identically named root page shown when navigating within a diffferent subtree"
While finally testing the update fixing #854 (thanks!) in my local project by using version 0.4.0.rc3, I may have found a follow up issue (not necessarily related code-wise).

When a 3rd-level page has the `parent` set to a page which is named identical to a root page of another subtree, and when the user navigates to that 3rd-level page, the second root page is marked as being active too.

Assumi

[2022-10-27 10:18] pdmosses commented on #1014
@jneijt Thanks for catching this bug! In fact [`just-the-docs-tests` displays the bug](https://just-the-docs.github.io/just-the-docs-tests/navigation/grandparent/efg/), but [there isn't an explicit check](https://just-the-docs.github.io/just-the-docs-tests/navigation/grandparent/index/#a-grandchild-with-the-same-parent-title-as-a-child-or-top-level-page) for it.

I'll submit a PR after checking th

[2022-10-28 13:26] pdmosses commented on #1014
@jneijt I've now added [a check for this issue](https://just-the-docs.github.io/just-the-docs-tests/navigation/grandparent/index/#a-grandchild-with-the-same-parent-title-as-a-child-or-top-level-page). Running the tests with v0.3.3 shows that this was an unreported bug back then.

I wasn't involved in the original design of the navigation for the theme, but I suspect that disambiguation of parents

[2022-10-29 19:49] pdmosses commented on #946
But look at our site: we only *use* mermaid on [one page](https://just-the-docs.github.io/just-the-docs/docs/ui-components/code/#mermaid-diagram-code-blocks). Currently, anyone landing on the rest of our site loads mermaid – regardless of whether they ever visit the page where it's used.

I guess the same will happen on most sites that activate mermaid site-wide.

I think this issue can easily be

[2022-10-29 23:52] OldManUmby opened #1020 "External Nav Links Not Showing Without Pages"
**Describe the bug**
External Navigation Links are not showing unless there are regular page links in the navigation first.

**To Reproduce**
Steps to reproduce the behavior:
1. Remove all pages except for the index page.
2. Add an external navigation link.
3. External link will not show.
4. Add a regular page, then the external link will show.

**Expected behavior**
See above.

[2022-10-30 13:05] pdmosses commented on #1020
@OldManUmby Thanks for reporting this bug! It seems that it appears in all the pre-releases of v0.4.0, as well as in the current HEAD (which is what you get by using the unpinned `remote_theme: just-the-docs/just-the-docs`).

I'll submit a PR to fix the bug, and add a regression test for the fix.

[2022-10-30 16:17] pdmosses commented on #1020
@OldManUmby if you'd like to test the fix in #1021, please try using:

[code]

(If your site is using `theme` rather than `remote_theme`, you'll need to add the URL of my fork branch in your `Gemfile`.)

The regression test for the fix is at https://just-the-docs.github.io/just-the-docs-tests/navigation/external-links/. It's currently marked ❌ to show that it's a bug in v0.4.0.rc3.

[2022-10-30 20:19] #1014 closed

[2022-10-31 13:57] jneijt commented on #1014
@pdmosses Just tested the main branch in my setup and it now works perfectly. Thanks a lot for the quick fix!

[2022-10-31 15:18] pdmosses commented on #1014
@jneijt Thanks for confirming! Good that this was fixed before we release v0.4.0.

[2022-11-01 20:21] natke commented on #870
I have run the Microsoft accessibility checker on our site (which uses the just the docs template) and have hit a few accessibility issues, some of which I can fix by customization but some are in the library itself e.g.

- [ ] Title: WCAG 2.4.4,WCAG 4.1.2: Ensures links have discernible text (.site-title)
       Tags: Accessibility, WCAG 2.4.4, WCAG 4.1.2, link-name

       Issue: Ensures links h

[2022-11-03 21:39] MichelleBlanchette opened #1023 "Support Google Analytics 4 (GA4)"
### Discussed in https://github.com/just-the-docs/just-the-docs/discussions/1022

<div type='discussions-op-text'>

<sup>Originally posted by **MichelleBlanchette** November  3, 2022</sup>
Google Analytics says they will be fully transitioning to the new GA4 property type and deprecating Universal Analytics (UA).

source: https://support.google.com/analytics/answer/11583528?hl=en#:~:text=On%20July

[2022-11-03 21:41] MichelleBlanchette commented on #1023
I will be looking into submitting a PR for this, as mentioned in the original Discussion thread.

[2022-11-04 00:23] OldManUmby commented on #1020
Seem to be working, THX!

[2022-11-04 00:23] #1020 closed

[2022-11-04 08:37] pdmosses commented on #1008
There's also [option (3)](https://github.com/jekyll/jekyll-seo-tag/blob/master/docs/advanced-usage.md#disabling-title-output):

Doing that, and removing the test on `site.plugins`, would allow the theme to use a custom separator between the `page.title` and the `site.title`, or even to support a completely customised `<title>`.

BTW, [`jekyll-seo-tag` apparently respects `page.description`](https:

[2022-11-04 12:28] Tom-Brouwer commented on #1008
@pdmosses I think that's a great addition. Option (3) would entail:
* Of lines 5 - 11 in [the head.html](https://github.com/just-the-docs/just-the-docs/blob/223feac30b198c100fac2aa55e890bd3034f7828/_includes/head.html) only keep line 6 to render the title. Remove the 'unless' and 'if page.description' sections, since the description meta element is rendered by jekyll-seo-tag.
* Only 41, change the

[2022-11-05 07:45] mattxwang commented on #1023
Thanks for submitting this issue @MichelleBlanchette!

Just did that, thanks!

Since you've requested the feature, I'm generally happy to have you sketch up an interface (rather than dictate one myself), with the caveat that, for now, this shouldn't be a breaking change for users using UA. Given that UA is phasing out soon anyways, I'm happy to follow that up relatively quickly with a breaking rel

[2022-11-05 07:49] mattxwang commented on #1008
Thanks everyone for a great and detailed discussion; have unfortunately been slightly MIA due to life circumstances.

It sounds like both @Tom-Brouwer and @pdmosses are in agreement that Option 3 preserves general compatibility (the changed separator is not a huge concern for me), *and* it allows better customization in the future. This all sounds great to me! @Tom-Brouwer, feel free to submit a P

[2022-11-05 07:54] mattxwang commented on #1003
Oh, interesting indeed - thanks for submitting this @pdmosses. My initial guess is that by changing the number of elements rendered in the header space, we've changed flexbox's alignment behaviour. I imagine that the original code assumes that search and aux links are not disabled (or at the very least, that search exists).

I will have to return to this later (lots of backlog to go through right

[2022-11-05 08:01] mattxwang commented on #1020
Hey @OldManUmby - just merged this into `main` of this branch, so you should be able to use the upstream theme as the remote again. We'll release this fix in v0.4.0!

[2022-11-05 08:22] mattxwang commented on #870
Hi @natke, thanks for commenting. Did a quick double-check, and you're indeed correct; in https://github.com/just-the-docs/just-the-docs/commit/132cecfea3ba2dbdcf37ac519390175d713edd4b, we introduced a `site.logo` feature (that is not commonly used) which renders a `<div>` with no body text or annotation. Certainly inaccessible!

If you don't mind, could you submit a separate issue for this proble

[2022-11-05 08:24] mattxwang commented on #886
I think our experiment with shortcut links worked! Sounds like the last actionable is updating the issue/pr template; am I missing anything else?

[2022-11-05 09:25] koppor commented on #625
The current link for `{:toc}` is https://just-the-docs.github.io/just-the-docs/docs/navigation-structure/#in-page-navigation-with-table-of-contents.

[2022-11-05 09:31] koppor commented on #94
Could this issue be reconsidered @mattxwang?

"Refined" feature request:

What would be very great if the TOC would be shown on the right side - if there is enough space on three screen.

**Example**: (Rendered by gitbook.io - https://docs.jabref.org/finding-sorting-and-cleaning-entries/specialfields)

## Narrow screen

![grafik](https://user-images.githubusercontent.com/1366654/200113067-fda6a134

[2022-11-05 11:14] koppor opened #1028 "Enable figure captions"
**Is your feature request related to a problem? Please describe.**

I would like to have a caption below my figures.

**Describe the solution you'd like**

I would propose to enable [jekyll-figure plugin](https://github.com/paulrobertlloyd/jekyll-figure) (found via [stackoverflow answer](https://stackoverflow.com/a/51682829/873282)) as first-class plugin of just-the-docs:

Liquid:

[code]

HTML ou

[2022-11-05 11:30] pdmosses commented on #1008
@Tom-Brouwer wrote re motion (3):

Right. But we don't know how many users there are in each case.

We could also change `-` to `|`  in our title element, for compatibility with 'jekyll-seo-tag'. I'd personally prefer that.

If theme users object to that change, we can then introduce the suggested `head_title` file for customisation.

[2022-11-05 13:36] koppor commented on #1028
The README.md states "As few dependencies as possible". Since most users won't need that, I will close the request. Maybe, I will create a documentation update how to use jekyll-figure.

---

![grafik](https://user-images.githubusercontent.com/1366654/200122619-b67d9a44-12c0-4090-9e3f-f764117ba379.png)

[2022-11-05 13:36] #1028 closed

[2022-11-05 14:32] MichelleBlanchette commented on #1023
Thank you for the thorough communication @mattxwang !

I haven't explored the codebase yet, but I was thinking we could simply add a `ga4_tracking` option to the config. The reason for this is because it is actually recommended to record to both GA properties when transitioning to GA4.

Basically, in Google Analytics, you have an existing UA (old) property that you have already been recording into

[2022-11-05 14:41] MichelleBlanchette commented on #1023
By the way @mattxwang ~ Does JustTheDocs team have a GA4 property that I should use in the base repo's `_config.yml`? I see a UA property is included by default. I can test with my own GA4 property locally for now.

https://github.com/just-the-docs/just-the-docs/blob/13a1ac2a42e666227e3145e80f030b574f5d496d/_config.yml#L149-L152

[2022-11-05 18:01] pdmosses commented on #1003
The header and footer customisation was (the only feature) introduced in [v0.3.3](https://github.com/just-the-docs/just-the-docs/blob/main/CHANGELOG.md#v033). The description in PR #334 states:

See also [my comment](https://github.com/just-the-docs/just-the-docs/pull/334#issuecomment-668430476) in the conversation of the PR, which was approved and merged by @pmarsceill without further considerati

[2022-11-05 18:56] mattxwang commented on #1008
Ah, great point - slipped my mind. Let's also do that!

[2022-11-05 20:40] pdmosses commented on #1028
@koppor Thanks for drawing attention to `jekyll-figure`! A docs update for how to use it would be very helpful (although a PR is probably best left to after the release of v0.4.0). Perhaps we need to add a section about useful plugins that aren't loaded and activated by the theme?

[2022-11-06 14:58] koppor opened #1033 "Kitchen Sink should contain Note and Warning"
**Is your feature request related to a problem? Please describe.**

As normal Markdown user, it is unclear, how to create note and warning boxes.

Example is on the first page of the documentation:

![grafik](https://user-images.githubusercontent.com/1366654/200178069-df38744d-db42-45c3-97b3-3144733322de.png)

**Describe the solution you'd like**

The [markdown kitchen sink](https://just-the-docs.

[2022-11-11 12:52] Tom-Brouwer commented on #1008
@mattxwang I've created the above pull-request for this issue. Given that we concluded that (1) we don't want users to be able to override the title at this point and (2) we want the default title to use the '|' separator, I've implemented option 2, described in the first post.

As @pdmosses indicated, if at any point in the future users want to be able to override the title, we can simply change

[2022-11-15 06:22] sonomirco opened #1042 "I can't render math formulas!"
**Describe the bug**
I can't render math formulas.
I followed the information from here.
https://github.com/pdmosses/test-nav and here https://just-the-docs.github.io/just-the-docs/docs/customization/#custom-toc-heading

**To Reproduce**
Steps to reproduce the behavior:
The _config.yml has

remote_theme: just-the-docs/just-the-docs
theme: "just-the-docs"
compress_html:
  blanklines: true

I create

[2022-11-15 08:10] #1008 closed

[2022-11-15 08:18] mattxwang commented on #94
@koppor sure - just for posterity's sake, do you want to make a new issue and link to this one as well? I do think it'll need some discussion (I'm not sure how feasible this is, especially for mobile).

This should be much easier after I implement #959.

[2022-11-15 08:19] mattxwang commented on #1042
Hey, thanks @sonomirco for submitting an issue. Can I ask:

- do you have a repo/link that we can look at?
- is `page.mathjax` true for your page?
- are there any console errors?

[2022-11-15 08:21] mattxwang commented on #1033
Hey @koppor, thanks for submitting an issue and sorry for taking so long to get back to you.

If you'd like to add an item to the kitchen sink, a PR is welcome. I think linking to the UI component page is a reasonable idea, since callouts aren't really standard markdown syntax.

[2022-11-15 09:17] sonomirco commented on #1042
We can close this issue.
Following this discussion I was able to fix the problem.

https://github.com/just-the-docs/just-the-docs/discussions/432

[2022-11-15 09:28] pdmosses commented on #1042
@sonomirco I'm glad that you fixed the issue.

My outdated just-the-docs-tests-old site used to test the possibility of using math with the theme. I should add an updated version of that to the [current suite of regression tests](https://just-the-docs.github.io/just-the-docs-tests/) so that users can see how it works there.

[2022-11-15 09:50] sonomirco commented on #1042
Why are not integrating the possibility of render formulas on the main template?
I think it is a quite general request, isn't it?

[2022-11-15 16:49] pdmosses commented on #1033
@koppor @mattxwang I think we should actually have two kitchen sinks:

1. The standard one, using only the [CommonMark dialect of Markdown](https://spec.commonmark.org/current/), with no extensions.
2. An advanced one, illustrating the use of the [GitHub-Flavored Markdown dialect](https://github.github.com/gfm/), which is apparently the [default for Jekyll](https://jekyllrb.com/docs/configuration/

[2022-11-15 17:17] pdmosses commented on #1042
@sonomirco This theme aims to minimise dependencies. The [README](https://github.com/just-the-docs/just-the-docs/blob/main/README.md#design-and-development-principles-of-this-theme) states:

If the theme were to enable MathJax and/or KaTeX by default, we'd need to update the default config with every new release of those packages. We might also need to add (and maintain) configuration variables.

[2022-11-24 17:54] pdmosses commented on #1042
@sonomirco I wrote:

I've now done that: https://just-the-docs.github.io/just-the-docs-tests/components/math/index/

Suggestions for improvement are welcome!

[2022-11-26 00:02] simonsejse commented on #171
Can you manually change only the text? Because the actual text "note" on say the note callout is VERY dark on dark mode?

[2022-11-26 19:51] pdmosses commented on #171
@simonsejse The only [configurable parameters of callouts](https://just-the-docs.github.io/just-the-docs/docs/configuration/#callouts) are those explained in the theme docs.

The [examples in the theme docs](https://just-the-docs.github.io/just-the-docs/docs/ui-components/callouts/) and [tests](http://localhost:4000/just-the-docs-tests/components/callouts/#callouts) show how callouts in the colour

[2022-11-28 04:16] mattxwang commented on #1033
Getting back to this now:

Sure, that makes sense to me. Agreed that this isn't high priority (i.e. I probably will dedicate more time towards prepping v0.4, dark mode, etc.). However, @koppor if you'd like to work on this and/or submit a PR to deal with the original issue, I'd be happy to review it and merge whenever (since, as @pdmosses has indicated, this is independent of our release schedule)

[2022-11-28 04:37] mattxwang commented on #1003
Oh, the *vertical alignment* -- my bad, I clearly was misunderstanding what was going on here.

Isn't this achievable by using CSS? Either by adding the relevant margin, or aligning across the cross-axis? I'm not sure if there's anything we should do on our end as theme developers to "allow" for this; it seems like something that's the developer's responsibility. Or, did you mean wrapping the cust

[2022-11-28 13:38] pdmosses commented on #1033
I was referring to the [kramdown GFM parser](https://kramdown.gettalong.org/parser/gfm.html). This appears to be what Jekyll uses by default – both locally and on GitHub Pages.

Apart from deviating from GitHub's own parser in [a few minor ways](https://github.com/kramdown/parser-gfm#documentation), it seems the kramdown GFM parser recognises [IALs](https://kramdown.gettalong.org/syntax.html#inlin

[2022-11-28 15:42] pdmosses commented on #1003
The description of PR #334 claimed that `header_custom.html` "puts elements between a search bar and aux links". If we copy that as the explanation in the theme docs for this feature, I think users will be surprised by what they get: the natural interpretation of "between" is surely that added text should have the same baseline as the search input text and the aux links.

After browsing the releva